:root {
  --accent-color: #2196F3;
  --main-text-color: #757575;
  --second-text-color: #212121;
  --white-color: #FFFFFF;
  --background-grey: #F5F4FA;
  --background-darkgrey: #2F303A;
  --footer-grey--: rgba(255, 255, 255, 0.6);
  --border-line: #ECECEC;
  --icon-colour: #AFB1B8;
  --form-label-color: rgba(117, 117, 117, 1);
  --form-input-border-color: rgba(33, 33, 33, 0.2);
  --form-input-placeholder-color: rgba(117, 117, 117, 0.5);
  --form-icon-color: background: rgba(33, 33, 33, 1);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.second-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  color: var(--second-text-color);
}

.button {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style-type: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
}

.modal__button-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(0, 0, 0);
  right: 8px;
  top: 8px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal__button-close:focus, .modal__button-close:hover {
  fill: var(--accent-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon-close {
  width: 18px;
  height: 18px;
}

.modal__second-heading {
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  line-height: 1.15;
}

.form__field {
  position: relative;
  text-align: left;
  margin-bottom: 10px;
}

.form__field--last {
  margin-bottom: 20px;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  color: var(--form-label-color);
}

.input-icon {
  position: relative;
}

.form__input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  outline: transparent;
  border: var(--form-input-border-color) solid 1px;
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus, .form__input:hover {
  border: var(--accent-color) solid 1px;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: var(--form-icon-color);
}
.form__input:focus ~ .form__icon, .form__input:hover ~ .form__icon {
  fill: var(--accent-color);
  color: var(--accent-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea {
  display: block;
  padding: 12px 16px 12px 16px;
  height: 120px;
  resize: none;
  margin: 0px;
}
.form__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  color: var(--form-input-placeholder-color);
}
.form__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  color: var(--form-input-placeholder-color);
}
.form__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  color: var(--form-input-placeholder-color);
}
.form__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  color: var(--form-input-placeholder-color);
}
.form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  color: var(--form-input-placeholder-color);
}

.form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.checkbox {
  display: block;
  padding-left: 22px;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox__icon {
  margin-left: -22px;
  position: absolute;
  width: 16px;
  height: 15px;
  background-image: url(../images/border.svg);
}
.checkbox__input:checked + .checkbox__icon {
  background-image: url(../images/icon-check.svg);
}

.checkbox__text {
  color: var(--main-text-color);
}

.checkbox__link {
  color: var(--accent-color);
}

.form__button {
  display: block;
  width: 200px;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--white-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-line);
}

.header-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .link:hover, .header .link:focus {
  color: var(--accent-color);
}

.logo-link {
  display: block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.logo-link--accent {
  color: var(--accent-color);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link,
.studio-data__item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__list .link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--second-text-color);
}

.nav_page-now .link {
  color: var(--accent-color);
  text-decoration: none;
}
.nav_page-now .link::after {
  display: block;
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  bottom: -1px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.nav__item:not(:last-child),
.studio-data__item:not(:last-child) {
  margin-right: 50px;
}

.nav__list,
.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.studio-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.studio-data__link {
  color: var(--main-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.studio-data__icon--envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.studio-data__icon--smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.footer {
  background-color: var(--background-darkgrey);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.address {
  margin-right: 70px;
}

.footer__logo-link {
  display: block;
  margin-bottom: 20px;
  color: var(--white-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
}

.address__item {
  margin-bottom: 9px;
}
.address__item:last-child {
  margin-bottom: 0;
}

.address__link {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__link--map {
  color: var(--white-color);
}

.address__link--contact {
  color: var(--footer-grey--);
}

.join__second-heading {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: start;
  color: var(--white-color);
}

.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.join__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  margin-bottom: 0px;
}
.join__item:last-child {
  margin-right: 0px;
}

.join__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join__link:hover, .join__link:focus {
  background-color: var(--accent-color);
}

.join__icon {
  fill: var(--white-color);
  width: 20px;
  height: 20px;
}

.footer-form {
  margin-left: 93px;
}

.footer-form__second-heading {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: var(--white-color);
}

.footer-form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form__field-input {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: rgb(47, 48, 58);
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__field-input:focus {
  border: 1px solid var(--accent-color);
  color: var(--white-color);
}

.footer-form__field-input::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__field-input::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__field-input:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__field-input::-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__field-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.footer-form__tg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.order {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: auto;
  background-color: #C4C4C4;
  text-align: center;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background1.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background1.jpg);
}

.order__heading {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.order__button {
  padding: 10px 32px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order__button:hover, .order__button:focus {
  background-color: #188CE8;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__item + .advantages__item {
  margin-left: 30px;
}

.advantages__text {
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
  line-height: 1.7142857143;
}

.advantages__third-heading {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.advantages__icon {
  background-color: var(--background-grey);
  width: 270px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.icon-antena,
.icon-clock,
.icon-diagram,
.icon-astronaut {
  width: 70px;
  height: 70px;
}

.whatdo {
  padding-top: 0px;
}

.whatdo__second-heading {
  margin-bottom: 50px;
}

.whatdo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.whatdo__item {
  position: relative;
}

.whatdo__item + .whatdo__item {
  margin-left: 30px;
}

.whatdo__uptext {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.whatdo__text {
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--white-color);
}

.team {
  background-color: var(--background-grey);
}

.team__second-heading {
  margin-bottom: 50px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__item {
  background-color: var(--white-color);
  width: 270px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}
.team__item:nth-child(4n) {
  margin-right: 0px;
}

.team__name {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__third-heading {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: var(--second-text-color);
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-icons__item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.social-icons__item:last-child {
  margin-right: 0px;
}

.social-icons__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #afb1b8;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  height: 100%;
  width: 100%;
}

.social-icons__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.customers__second-heading {
  margin-bottom: 50px;
}

.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customers__item {
  margin-right: 30px;
  width: 170px;
}
.customers__item:last-child {
  margin-right: 0px;
}

.customers__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--icon-colour);
  height: 92px;
  border: var(--icon-colour) solid 1px;
  border-radius: 4px;
  -webkit-transition-property: border-color, fill;
  transition-property: border-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.customers__icon {
  width: 106px;
  height: 60px;
  color: currentColor;
}

.cards__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards__item {
  -ms-flex-preferred-size: 370px;
      flex-basis: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.cards__item:nth-child(3n+3) {
  margin-right: 0px;
}
.cards__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.cards__info {
  padding: 24px 20px;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.cards__link {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cards__link:hover, .cards__link:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.cards__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.cards__text {
  font-size: 16px;
  line-height: 1.875;
  color: var(--main-text-color);
}

.dop-info {
  position: relative;
  overflow: hidden;
}

.dop-info__text {
  position: absolute;
  top: 0%;
  bottom: 0%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
}
.cards__link:hover .dop-info__text, .cards__link:focus .dop-info__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.examples__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.examples__item {
  margin-right: 8px;
}
.examples__item:last-child {
  margin-right: 0px;
}

.examples__button {
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  background-color: var(--background-grey);
  border: none;
  border-radius: 4px;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, box-shadow, color;
  transition-property: background-color, box-shadow, color, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__button:hover, .examples__button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}/*# sourceMappingURL=main.css.map */