h1,
h2,
h3,
h4,
p,
ul,
li {
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
    font-style: normal;
}

.list {
    list-style-type: none;
}